
/* 0. Responsive Font Sizing */
@media screen and (max-width: 1280px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 624px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 623px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 5px;
    }
}


/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 3rem;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
  padding-left: 10;
  border-left: .35rem solid black;
}


.section-nav a {
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}

/** Poor man's reset **/
* {
  box-sizing: border-box;
}

html, body {
  background: #fff;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1rem;
}

h1 {
  font-weight: 300;
}

/** page layout **/
main {
  display: grid;
  grid-template-columns: 1fr 15rem;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 8rem;
  padding-left: 0rem
}

/** Sections **/
section {
  padding-bottom: 0rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 2rem;
}

section-post {
  padding-bottom: 0rem;
  padding-top: 2rem;
  padding-left: 3rem;
}


/** typewriter effect **/
.container{
  display: inline-block;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  animation: typing 1.75s steps(25, end) forwards, blinking .8s infinite;
  font-size: 4rem;
  font-weight: bold;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}

/* Image */
.center-cropped {
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 10rem;
  width: 10rem;
}

/* Center and fit school logos */
.center-fit {
  object-fit: scale-down; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 10rem;
}

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 2rem 2rem 0;
			width: 10rem;
			height: 10rem;
			background-position: center center;
            background-repeat: no-repeat;
			top: 0.75rem;
		}

		.image.right {
			float: right;
			margin: 0 0 2rem 2rem;
			top: 0.75rem;
		}

		.image.fit {
			display: block;
			margin: 2.5rem 0;
			width: 100%;
		}

			.image.fit:first-child {
				margin-top: 0;
			}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 4rem 0;
			width: 100%;
		}

			.image.main:first-child {
				margin-top: 0;
			}

			.image.main img {
				width: 100%;
			}

		@media screen and (max-width: 736px) {

			.image.fit {
				margin: 2rem 0;
			}

			.image.main {
				margin: 2rem 0;
			}

		}

	a.image {
		overflow: hidden;
	}

		a.image img {
			-moz-transition: -moz-transform 0.2s ease-out;
			-webkit-transition: -webkit-transform 0.2s ease-out;
			-ms-transition: -ms-transform 0.2s ease-out;
			transition: transform 0.2s ease-out;
		}

		a.image:hover img {
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
		}


/* Style all font awesome icons */
.fa {
  padding: 0px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fa {
    font-size: 24px;
    width: 32px;
    padding: 8px; /* Adjust padding for smaller screens */
  }
}

/* Github */
.fa-github {
  background: black;
  color: white;
  border-radius: 100%;
  border: 2px solid black;
  padding: 10px;

}
/* Linkedin */
.fa-linkedin {
  background: black;
  color: white;
  border-radius: 100%;
  border: 2px solid black;
  padding: 10px;
}

/* Download Resume */
.fa-download {
  background: black;
  color: white;
  border-radius: 100%;
  border: 2px solid black;
  padding: 10px;
}


/* Email */
.fa-envelope {
  background: black;
  color: white;
  border-radius: 100%;
  border: 2px solid black;
  padding: 10px;
}

.fa-cloud-download {
  color: black;
  padding: 10px;
}

.fa-cloud-download:hover {
  opacity: 1;
}

/* Reset Link styles */
.da {
  color: inherit;
  padding-bottom: 3px;
  border-bottom: 3px solid #ffffff;
  transition: border-bottom-color .25s ease-in-out;

}

/* Add a hover effect */
.da:hover {
  border-bottom: 3px solid #3498DB;
  /*transition: border-bottom .05s ease-in-out;*/
  transition: border-bottom-color .25s ease-in-out;
}

/* Reset Header Link styles */
.daa {
  color: inherit;
  text-decoration: none;
}

/* Add a hover effect */
.daa:hover {
  color: white;
}

/* Skill bubbles for projects */
.bubble {
  display: inline-block;
  background: rgba(0,0,0,.3);
  padding: .2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 2rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size:.7rem;
  font-weight: bold;
}

.nomargin {
    margin: 0;
    margin-bottom: .5rem;
}

.text {
    margin: 0;
    margin-bottom: .5rem;
    line-height: 150%;
    font-size: 1rem
}

p {
color: #4F4F4F}

.pt {
color: black}


a {
text-decoration:none}

h2 {
font-size: 1.5rem;
}

h3 {
font-size: 1.25rem
}

/* Define the styles for the table */
table.highlight-table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
table.highlight-table th,
table.highlight-table td {
  padding: .5rem;
  text-align: left;
}

/* Define the styles for the hover effect */
table.highlight-table:hover {
  background-color: #F5F5F5;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5); /* Add shadow on top */
}

/* General Gradient Text Class */
.gradient-text{
  font-family: sans-serif;
  background: linear-gradient(to right, #FFB64D,#FF8C4D,#FF6666,#C066FF,#7F66FF,#00A3CC);
  background-size: 200% 200%;
  animation: rainbow 1s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  transition: color .15s ease-in-out;
  font-weight:bold;
}
.gradient-text:hover{
  color:rgba(0,0,0,0);
}
@keyframes rainbow {
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}